@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.h1 {
  color: #5A5A5A;
}

.div-imagen {
  display: inline-block;
  position: relative;
}

.div-imagen > div {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  padding: 10px;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms, top 500ms;
  -moz-transition: opacity 500ms, top 500ms;
  -o-transition: opacity 500ms, top 500ms;
  -ms-transition: opacity 500ms, top 500ms;
  transition: opacity 500ms, top 500ms;
}

.div-imagen:hover >div{
  opacity: 1;
  top: 82px;
  left: 82px;
  z-index: 0;
  padding: 10px;
}

.desvanecer:hover {
  opacity: 0.1;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.div-text {
  font-style: italic;
}
